{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
{{#if (and (gt model.policies.totalResults 0)(not createPolicyShown))}}
<div id="replicationPolicies">
  <div class="clearfix">
    <div class="replication-policies-title pull-left ">Replication Policies</div>
    <button type="button" class="btn btn-success pull-right" name="button" {{action 'createPolicy'}}>+ CREATE REPLICATION POLICY</button>
  </div>

  <table id="replication-policies-list" class="table listing table-striped table-hover replication-policies-list" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>STATUS</th>
        <th>POLICY NAME</th>
        <th>LAST GOOD</th>
        <th>SCHEDULE</th>
        <th>RUN TIME</th>
        <th>SERVICE</th>
        <th>DESTINATION</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.policies.entity as |policy|}}
        <tr>
          <td>{{policy.status}}</td>
          <td>{{policy.name}}</td>
          <td>{{policy.lastRun}}</td>
          <td>{{policy.schedule}}</td>
          <td>{{policy.runTime}}</td>
          <td>{{policy.type}}</td>
          <td>{{policy.targetCluster}}</td>
          <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else if (not createPolicyShown)}}
  <div class="">
    No replication policies created.
    <button type="button" class="btn btn-success" name="button" {{action 'createPolicy'}}>CREATE REPLICATION POLICY</button>
  </div>
{{/if}}
{{#if createPolicyShown}}
  {{#create-replication-policy currentCluster=model.currentCluster pairedClusters=model.pairedClusters savePolicy="savePolicy"}}{{/create-replication-policy}}
{{/if}}
