<div id="wrapper">
  <div id="page-wrapper">
    <div>
      {{#if model.showInitialLaunch}}
        {{#init-launch setup="setup"}}{{/init-launch}}
      {{else}}
        <div class="col-xs-2 padding0">
          {{#left-nav-bar currentCluster=model.currentCluster registeredClusters=model.registeredClusters}}{{/left-nav-bar}}
        </div>
        <div class="col-xs-10 padding0">
            {{#if (gt model.registeredClusters.meta.totalResults 1)}}
            <div class="container-fluid" role="navigation">
              <div class="navbar-header">
                <ol class="breadcrumb">
                  {{#each breadcrumbService.breadcrumbs as |crumb|}}
                    {{#if crumb.route}}
                      <li>{{#link-to crumb.route}}<a href="#">{{crumb.displayName}}</a>{{/link-to}}</li>
                    {{else}}
                      <li>{{crumb.displayName}}</li>
                    {{/if}}
                  {{/each}}
                </ol>
              </div>
              <ul class="nav navbar-nav navbar-right navbar-custom">
                <li>
                  {{#link-to "data-manager.monitor" class="smaller-font"}}
                    <a href="" class="smaller-font"><i class="fa fa-tasks pr5 navbar-icons"></i>MONITOR JOBS</a>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to "data-manager.replication-policies" class="smaller-font"}}
                    <a href="" class="smaller-font"><i class="fa fa-files-o pr5 navbar-icons"></i>REPLICAITON POLICIES</a>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to "data-manager.incoming-policies" class="smaller-font"}}
                    <a href="" class="smaller-font"><i class="fa fa-object-ungroup pr5 navbar-icons"></i>INCOMING POLICIES</a>
                  {{/link-to}}
                </li>
              </ul>
            </div>
            {{/if}}
          {{outlet}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
